/* global.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Custom scrollbar styles */
.custom-scrollbar {
  scrollbar-width: none; /* For Firefox */
  scrollbar-color: #ffffff #f1f1f1; /* Color for Firefox */
}

/* For Chrome, Safari, and Edge */
.custom-scrollbar::-webkit-scrollbar {
  width: 1px; /* Adjust the width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff; /* Background color of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 100%); /* Color of the scrollbar handle */
  border-radius: 10px; /* Roundness of the scrollbar handle */
  border: 2px solid #f1f1f1; /* Adds space around the handle */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff; /* Color on hover */
}