.map-container {
    position: relative; /* Create a stacking context for the map */
    z-index: 1; /* Keep the map below other elements */
  }
  
.leaflet-container {
position: relative;
z-index: 1; /* Ensure the map is visible but not above buttons */
}

.button-container {
position: absolute; /* Position the buttons absolutely */
bottom: 10px; /* Adjust position as needed */
right: 45px;
display: flex;
flex-direction: row;
gap: 5px;
z-index: 9999; /* Ensure buttons are above the map */
pointer-events: auto; /* Ensure the buttons remain clickable */
}

.custom-data-grid .super-app-theme--header {
  background-color: #003d73; /* Header background color */
  color: #FFFFFF; /* Header text color for contrast */
  font-weight: bold; /* Bold text for visibility */
  text-align: center; /* Center text alignment */
}

.custom-data-grid .MuiDataGrid-cell {
  background-color: #FFFFFF;
  color: #000000; /* Cell text color */
}
